In [20]:
import pandas as pd
import numpy as np

In [184]:
df=pd.read_excel("export.xlsx",parse_dates=True)

df.columns=['Location','Service_Point','Service_Item','Action','Date_Time']
df['Date_Time']=pd.to_datetime(df['Date_Time']).dt.date

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240414 entries, 0 to 240413
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       240414 non-null  object
 1   Service_Point  240414 non-null  object
 2   Service_Item   240414 non-null  object
 3   Action         240414 non-null  object
 4   Date_Time      240414 non-null  object
dtypes: object(5)
memory usage: 9.2+ MB

  Location   Service_Point Service_Item Action   Date_Time
0  Library  Reference Desk  Directional    add  2010-03-01
1  Library  Reference Desk  Directional    add  2010-03-01
2  Library  Reference Desk  Directional    add  2010-03-01
3  Library  Reference Desk  Directional    add  2010-03-01
4  Library  Reference Desk  Directional    add  2010-03-01

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240414 entries, 0 to 240413
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       240414 non-null  object
 1   Service_Point  240414 non-null  object
 2   Service_Item   240414 non-null  object
 3   Action         240414 non-null  object
 4   Date_Time      240414 non-null  object
dtypes: object(5)
memory usage: 9.2+ MB

In [196]:

df['value'] = np.where(df['Action'] == "add", 1, -1)

df.head()

#df1=df.resample('D', on='Date_Time').sum()


df1=df.groupby(['Date_Time','Service_Point','Service_Item'],as_index=False)['value'].sum()

In [218]:
#Option 3 

df1.head()
df1.to_excel("service_point_Option3.xlsx")

In [219]:
#Option 2

df2=df.groupby(['Date_Time','Service_Point'],as_index=False)['value'].sum()
df2.head()

df2.to_excel("service_point_Option2.xlsx")

In [212]:
#Option 1

# Just use Pivot Table to do this. It's easier

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31038 entries, 0 to 31037
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date_Time      31038 non-null  datetime64[ns]
 1   Service_Point  31038 non-null  object
 2   Service_Item   31038 non-null  object
 3   value          31038 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(2)
memory usage: 2.3+ MB

In [213]:
df2.head()

Date_Time  Date_Time
2010       3            1784
           5             556
           6             274
           7             240
           8              82
Name: value, dtype: int32